<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền truy cập -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TLU_Rideshare"
        tools:targetApi="31">

        <!-- Màn hình chính -->
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>

        <!-- Driver -->
        <activity android:name=".driver_add_trip" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".driver_detail_trip" android:exported="false" />
        <activity android:name=".driver_trip" android:exported="false" />
        <activity android:name=".SelectOtherLocation" android:exported="false" />
        <activity android:name=".driver_customer_list" android:exported="false" />
        <activity android:name=".driver_home" android:exported="false" />
        <activity android:name=".driver_edit_trip" android:exported="false" />

        <!-- Passenger -->
        <activity android:name=".passenger.EditProfile" android:exported="false" />
        <activity android:name=".passenger.YourRatingActivity" android:exported="false" />
        <activity android:name=".passenger.HistoryListActivity" android:exported="false" />

        <!-- Chung -->
        <activity android:name=".LoginActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".EditProfileActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".FirestoreTestActivity" android:exported="false" />
        <activity android:name=".OtpActivity" android:exported="false" />
        <activity android:name=".PersonalInfoActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".ResetPasswordActivity" android:exported="false" />
        <activity android:name=".VerifyActivity" android:exported="false" />
        <activity android:name=".YourReviewsActivity" android:exported="false" />
    </application>
</manifest>
